table{
    border-collapse:collapse;
    text-align:center;
}


td,tr,th{
    border:1px solid black;
}

#nul {
    border:1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#nul_foot{
    
    border:1px solid white;
    border-right: 1px solid black;
 
}


#nom{
    border-right:1px solid white;
}

#end{
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.banniere{
    display:flex;
    
}

.txt{
    font-size: 20px;
}

