body{
    background: linear-gradient(rgb(116, 87, 247),	rgb(38, 150, 238));
    background-size:cover;
}

#container{
    background-color: white;
    margin:auto;
    height:700px;
    width: 500px;

}

#container div{
    padding:20px;
  }

#titre{
    font-size:10px;
    color:white;
    background-color:black;
    height:30px;
    text-align: center;
}

#formulaire{
    display: flex;
    flex-flow:row; 
    padding:20px;
}

#label{
    height:300px;
    width: 100px;
    margin-left:30px;
    margin-top:35px;
   

    display:flex;
    flex-flow: column ;
}

#label span{
    margin-bottom: 55px;
}

#champ{
    height:300px;
    width: 290px;
    margin-top:20px;
    margin-left:10px;
}

#champ span{
    display: flex;
    flex-flow:row;
    margin-bottom: 39px;
}

label{
    font-size:12px;
    color: rgb(217, 212, 210);
}

#aria_code_label{
    font-size:10px;
    color:  rgb(230, 230, 230)
}

#first_name {
    width:120px;
    height:30px;
    margin-right:10px;
}
#last_name {
    width:120px;
    height:30px;
}

#company, #email{
    width: 260px;
    height:30px;
}

#aria_code{
    width:60px;
    margin-right:10px;
    height:30px;
}

#phone{
    width: 185px;
    height:30px;
}
#label > span:nth-child(5){
    margin-top:10px;
}
#option{
    width:272px;
    height:37px;
    background-color: rgb(230, 230, 230);
    border:none;
    border-radius: 5px;
}

input{
    border: 0px;
    border-radius: 5px;
    background-color: 	rgb(230, 230, 230);
}

#question{
    margin-top:0px;
    margin-left: 50px;
}

#register{
    background-color:rgb(252, 78, 94);
    border:none;
    color:white;
    height:35px;
    width:120px;
    border-radius: 5px;
    margin-left:-25px;
}